# Fill in the three values for the environment you select:
# d = dev, q = QA, p = prod. Host should be the Databricks URL.

D_DATABRICKS_HOST=
D_DATABRICKS_CLIENT_ID=
D_DATABRICKS_CLIENT_SECRET=

Q_DATABRICKS_HOST=
Q_DATABRICKS_CLIENT_ID=
Q_DATABRICKS_CLIENT_SECRET=

P_DATABRICKS_HOST=
P_DATABRICKS_CLIENT_ID=
P_DATABRICKS_CLIENT_SECRET=
